body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0d0f20, #061c54);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.header h1, .header h2 {
    margin: 0;
    color: #fff;
}

.header h1 {
    font-size: 2em;
}

.header h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.table-container {
    margin-top: 20px;
}

table.leaderboard {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

table.leaderboard thead {
    background-color: #002766;
    color: #fff;
}

table.leaderboard th, table.leaderboard td {
    padding: 10px;
    text-align: center;
}

table.leaderboard tbody tr {
    background-color: #0044cc;
    border-bottom: 2px solid #003399;
}

table.leaderboard tbody tr:last-child {
    border-bottom: none;
}

table.leaderboard td {
    font-size: 1.1em;
}

.avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.points .pkt {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    vertical-align: middle; /* Wyrównanie w pionie */
}

.points .plus-pkt {
    font-size: 0.8em;
    color: #21e821;
    vertical-align: middle; /* Wyrównanie w pionie */
    display: inline-block;
    margin-left: 5px; /* Odstęp między PKT a +PKT */
}


.symbol {
    font-size: 1.2em;
    color: #fff;
}

.zmiana {
    font-size: 0.8em;
    color: #fff;
}

.dots-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.dots-row {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .header h2 {
        font-size: 1.2em;
    }

    table.leaderboard th, table.leaderboard td {
        padding: 5px;
        font-size: 0.9em;
    }

    .points .pkt {
        font-size: 1em;
    }

    .points .plus-pkt {
        font-size: 0.7em;
    }

    .symbol {
        font-size: 1em;
    }

    .zmiana {
        font-size: 0.7em;
    }

    .dot {
        width: 6px;
        height: 6px;
    }
}
